@model IEnumerable<WebShop.Models.Role>
<div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Название роли
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            <button class="btn btn-primary edit-btn" onclick="location.href='@Url.Action("AddRole", "Role", new {id = @item.Id})'">Редактировать</button>
                            <button class="btn btn-danger delete-btn" data-id="@item.Id">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
