@using WebShop.Models;
@model Role;

@{
	ViewData["Title"] = "Добавление роли";
}

<h1>Добваить роль</h1>

<div class="row">
	<div class="col">
		@using (Html.BeginForm("AddRole", "Role", FormMethod.Post))
		{
			<div class="row">
				<div class="row">
					<div class="row">
						<label>Название</label>
						@Html.TextBoxFor(x => x.RoleName)
					</div>
				</div>
			</div>
			<br />
			<div>
				<button type="submit">Сохранить</button>
			</div>
		}
	</div>
</div>