@{
    ViewData["Title"] = "Роли";
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        function ShowDeleteDialog(id) {
            Swal.fire({
                title: 'Вы уверены?',
                text: "Данные нельзя будет востановить!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Да',
                cancelButtonText: 'Назад',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Role")',
                        type: 'POST',
                        data: { id: id },
                        success: function (data) {
                            if (data.result == "deleted") {
                                Swal.fire({
                                    title: 'Удалено!',
                                    text: 'Данные были удалены.',
                                    icon: 'success',
                                    showConfirmButton: true
                                }).then(function () {
                                    loadData();
                                })
                            }
                            if (data.result == "haveBinds") {
                                Swal.fire
                                    ({
                                        title: 'Внимаие!',
                                        text: 'Данные, которые вы пытайтель удалить имеют связи в БД.При удалении выбранных данных так же удалятся данные, которые с ними связаны',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Удалить',
                                        cancelButtonText: 'Не удалять',
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $.ajax
                                                ({
                                                    url: '@Url.Action("Delete", "Role")',
                                                    type: 'POST',
                                                    data: { id: id, deleteBinds: true },
                                                    success: function (data) {
                                                        if (data.result == "deleted") {
                                                            Swal.fire({
                                                                title: 'Удалено!',
                                                                text: 'Данные были удалены.',
                                                                icon: 'success',
                                                                showConfirmButton: true
                                                            }).then(function () { loadData(); });
                                                        }
                                                    },
                                                    error: function () {
                                                        Swal.fire(
                                                            'Ошибка!',
                                                            'Произошла ошибка при удалении.',
                                                            'error');
                                                    }
                                                });
                                        }
                                    });
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'Ошибка!',
                                'Произошла ошибка при удалении.',
                                'error');
                        }
                    });
                }
            });
        }

        $(document).ready(function () {
            loadData();

            $("#dataContainer").on("click", ".delete-btn", function () {
                var id = $(this).data("id");
                ShowDeleteDialog(id)
            });
        });

        function loadData() {
            $.ajax({
                url: '@Url.Action("GetData", "Role")',
                type: 'GET',
                success: function (data) {
                    $('#dataContainer').html(data);
                },
                error: function () {
                    alert('Ошибка при загрузке данных');
                }
            });
        }
    </script>
}

<h1>Роли</h1>

<p>
    <a asp-action="AddRole">Создать новую роль</a>
</p>

 <div id="dataContainer">
        @await Html.PartialAsync("_RolePartial", new List<Role>())
</div>
