@model IEnumerable<WebShop.Models.Role>

@{
    ViewData["Title"] = "Роли";
}

<h1>Роли</h1>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["AlertMessage"]
    </div>
}

<p>
    <a asp-action="Create">Создать новую роль</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название роли
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
